aside {
  background-image: url(map.png);
  position: absolute;
  left: 819px;
  top: 700px;
  width: 619px;
  height: 336px;
  z-index: 14;
}
article {
  position: absolute;
  left: 80px;
  top: 700px;
  width: 619px;
  height: 332px;
  text-align: center;
}
