.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

body {
  background-color: #ece8e5;
}
nav {
  width: 100%;
  background: rgb(22, 21, 1);
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  border-bottom: 2px solid #283744;
  padding: 5px;
  height: 50px;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 40px;
}
nav li {
  display: inline;
  float: right;
  margin-right: 25px;
}

nav a {
  color: rgb(118, 120, 120);
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}
nav a img {
  color: rgb(118, 120, 120);
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}
nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.getInTouch {
  background-color: rgb(239, 59, 0);
  padding: 3px;
  border-radius: 10px;
  float: right;
  margin-right: 15px;
  height: 30px;
  margin-top: 5px;
  a {
    color: white;
    width: 110px;
    line-height: 0;
  }
}

nav a:hover,
nav a:active {
  background-color: #8c99a4;
}
nav li:last-child a {
  border-right: 0;
}

nav a#pull {
  display: none;
}
.active {
  color: #fff;
}
.icon {
  position: relative;
  top: 4px;
  width: 16px;
  height: 16px;
  z-index: 88;
}

.logo {
  background-image: url('logo.jpg');
  position: absolute;
  left: 35px;
  top: 20px;
  width: 128px;
  height: 13px;
  z-index: 76;
}
.pull-left {
  float: left;
}

@media screen and (max-width: 600px) {
  nav {
    height: fit-content;
  }
  nav ul {
    width: 100%;
    display: block;
    height: auto;
  }
  nav li {
    width: 50%;
    float: left;
    position: relative;
  }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }

  nav li a {
    border-bottom: 1px solid #576979;
  }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width: 480px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: #283744;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content: '';
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
  }
  .logo {
    background-image: url('logo.jpg');
    position: absolute;
    left: 145px;
    top: 20px;
    width: 128px;
    height: 13px;
    z-index: 76;
  }
  .getInTouch {
    background: none;
    padding: 6px;
    margin-right: 0;
    a {
      width: 50px;
    }
    .icon {
      top: 0;
    }
  }
  .getInTouchText {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #576979;
  }
  nav a#pull {
    display: block;
    background-color: #283744;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content: '';
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
  }
  .logo {
    background-image: url('logo.jpg');
    position: absolute;
    left: 100px;
    top: 20px;
    width: 128px;
    height: 13px;
    z-index: 76;
  }
  .getInTouch {
    background: none;
    padding: 6px;
    margin-right: 10px;
    a {
      width: 50px;
    }
    .icon {
      top: 0;
    }
  }
  .getInTouchText {
    display: none;
  }
}
