.popup {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  left: 400px;
  left: 75px;
}

.popup .popuptext {
  background-color: #fff;
  color: #838685;
  text-align: center;
  border-radius: 10px;
  padding: 25px;
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 0;
}

.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -151px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.testimonialsHeader {
  text-align: center;
}
.testimonials {
  top: 1076px;
  width: 100%;
  position: absolute;
  background: #f9f9f9;
  height: 300px;
}

.float-my-children {
  float: left;
  margin-right: 5px;
  margin-left: 7%;
  position: absolute;
  top: 60%;
  display: flex;
  padding: 12px;
}

.clearfix {
  *zoom: 1; /* for IE */
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}
.clientPic {
  width: 30px;
  height: 30px;
  margin-top: 12px;
}
.clientDetails {
  padding-left: 5px;
}
.testimonial {
  display: inline-block;
  width: 30%;
}
