<header>
  <div>
    <h2 class="bannerHeader">
      Integer bibendum sit amet<br />
      arcu vel egestaas.
    </h2>
    <div class="staffing mobileServices"><img src="staffing.png" class=" serviceName"/><span class="iconText">Service Name</span></div>
    <!--Used Staffing icon because the stock icon was very small-->
    <div class="stock mobileServices"><img src="staffing.png" class="serviceName"/><span class="iconText">Service Name</span></div>
    <div class="folder mobileServices"> <img src="folder.png" class=" serviceName"/><span class="iconText">Service Name</span></div>
  </div>
</header>
