<footer class="footer">
  <div class="leftSection">
    @ 2017 Copyright. All rights reserved
  </div>
  <div class="rightSection">
    Follow us on <a href="#" class="fa fa-facebook socialMedia"></a>
    <a href="#" class="fa fa-linkedin socialMedia"></a>
    <a
      href="#"
      class="fa fa-twitter socialMedia"
      style="background: no-repeat !important;
        color:#9a9696 !important;text-decoration: none;"
    ></a>
    <a
      href="#"
      class="fa fa-envelope socialMedia"
      style="background: no-repeat !important;
        color:#9a9696 !important;"
    ></a>
  </div>
</footer>
