<nav class="clearfix">
  <ul class="clearfix">
    <li><a href="#" class="logo pull-left"></a></li>
    <li>
      <span class="getInTouch">
        <a href="#"> <img src="icon.png" class="icon" />&nbsp;Get In Touch </a>
      </span>
    </li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#" class="active">About</a></li>
  </ul>
  <a href="#" id="pull">Menu</a>
</nav>
