<nav class="clearfix">
  <div><a href="#" class="logo pull-left"></a></div>
  <span class="getInTouch">
      <a href="#" > 
        <img src="icon.png" class="icon" />
        <span class="getInTouchText">&nbsp;Get In Touch </a></span>
      </span>
  <ul class="clearfix">
    <li><a href="#">Blog</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#" class="active">About</a></li>
  </ul>
  <a href="#" id="pull"></a>
</nav>
