<section class='testimonials'>
  <h4 class='testimonialsHeader'>Testimonials</h4>
  <div class="testimonial">
    <div class="popup show" >
      <span class="popuptext" >
        <img src="quote.png"/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
      </span>
    </div>
    <div class="clearfix float-my-children">
      <img src="clientPic.png" width=30 class='clientPic'>
      <div class="clientDetails">
        <p>
          CLIENT NAME </br>
          Position, ORG
        </p>
      </div>
    </div>
  </div>

  <div class="testimonial">
      <div class="popup show" >
        <span class="popuptext" >
          <img src="quote.png"/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
        </span>
      </div>
      <div class="clearfix float-my-children" style=" top: 70%;">
        <img src="clientPic.png" width=30 class='clientPic'>
        <div class="clientDetails">
          <p>
            CLIENT NAME </br>
            Position, ORG
          </p>
        </div>
      </div>
    </div>


    <div class="testimonial">
        <div class="popup show" >
          <span class="popuptext" >
            <img src="quote.png"/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </span>
        </div>
        <div class="clearfix float-my-children" style=" top: 65%;">
          <img src="clientPic.png" width=30 class='clientPic'>
          <div class="clientDetails">
            <p>
              CLIENT NAME </br>
              Position, ORG
            </p>
          </div>
        </div>
      </div>
  
</section>
