<section class="workWithUs">
  <h3>Convinced to Work With Us?</h3>
  <h5>Company has agencies keep their promised to clients since 2005.</h5>
  <form>
    <fieldset style="display: inline">
      <input type="text" placeholder="Fullname" />
      <input type="text" placeholder="Email Address" />
      <input type="text" placeholder="Phone Number" />
    </fieldset>
    <fieldset>
      <textarea rows="4" cols="64" placeholder="Message in brief"></textarea>
    </fieldset>
    <fieldset>
      <input type="button" value="Submit" />
    </fieldset>
  </form>
</section>
